/*////////////////////////////////////////////////////////////////////////
Table of Contents:
	1. Global Styles
    2. Typografy
    3. Layout
	    - Reusables
	    - Other
    4. Areas
		- 4.1 Header
	    - 4.2 Testimonial
	    - 4.3 Support
	    - 4.4 Faq
	    - 4.5 Footer
	    5. Queries
////////////////////////////////////////////////////////////////////////*/


article {
    width: 100px;
    position: relative;
    text-align: center;
    margin: 16px;
}

article span {
    background-color: #BC4C2A;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 8px;
    padding: 4px;
}

article p {
    font-size: 10px;
}

