/*////////////////////////////////////////////////////////////////////////  
Table of Contents:  
	1. Global Styles
    2. Typografy   
    3. Layout    
	    - Reusables
	    - Other
    4. Areas        
		- 4.1 Header        
	    - 4.2 Testimonial        
	    - 4.3 Support        
	    - 4.4 Faq        
	    - 4.5 Footer    
	    5. Queries
////////////////////////////////////////////////////////////////////////*/

section {
    background-color: #F6F3EF;
    font-size: 10px;
    height: 400px;
    overflow: hidden;
    flex-basis: 350px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section p {
    max-width: 200px;
}

